*{
    margin: 0;
    padding: 0;
}
.navbar-brand img {
    border-radius: 15px;
    width: 55px; 
    height: 55px;
}
.btn {
    margin-left: 10px;
}
.container-fluid {
    width: 100%;
}
img:hover {
    transform: scale(1.01);
}